[submodule "user-service"]
	path = user-service
	url = https://github.com/ChamathDilshanC/Cafeteria-System-user-service.git
[submodule "menu-service"]
	path = menu-service
	url = https://github.com/ChamathDilshanC/Cafeteria-System-menu-service.git
[submodule "order-service"]
	path = order-service
	url = https://github.com/ChamathDilshanC/Cafeteria-System-order-service.git
[submodule "kitchen-service"]
	path = kitchen-service
	url = https://github.com/ChamathDilshanC/Cafeteria-System-kitchen-service.git
